.home{
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction:column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContainer{
    width:auto;
    margin-left: 30px;
}
.home .headerContainer h1{
justify-content:center;
align-items: center;
font-weight: bold;
font-size:35px;
color:black
}
.home .headerContainer button{
    background-color:black;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    height:50px;
    width:160px;
    font-size:18px;

}
.home .headerContainer button:hover{
    cursor:pointer;
    color:goldenrod;
    transition: 1s ease-in;
}